
body{padding:0;margin:0;font-size:8pt;font-family:verdana,arial,cursive;text-align:center; height: 100%;background:#BECDE2;}
a{text-decoration: none;}
#body_container{width:1200px;margin: 0px auto;padding: 0px;background:#0480be ;}
.main_body{width:100%;text-align:left; margin: 0px auto;padding: 0px;background:#BECDE2;}
.header{height:100px;border:0px solid #f00;}
.header a.logo{width:400px;height:100px;background: url('../img/logo_ipvision.png') no-repeat;display:block;}

.left_content{width:200px;text-align:left;border:1px solid #f00;vertical-align:top;background:#0480be;}
.left_content ul{margin:0;padding:0;list-style:none;font-size:9pt;}
.left_content ul li a{padding:5px; display:block;background:#0480be;color:black;border-bottom:1px solid #808080;}
.left_content ul li a.active{color:navy;background:#4fcbff;color:blue;}
.left_content ul li a:hover,.left_content ul li a.sel{color:navy;background:#4fcbff;color:blue;}

.right_content{width:940px;padding:10px;border:1px solid #f00;vertical-align:top;background:#fff;}
.right_content .min-heigth{}
.right_content .content_table{width:920px;overflow-x:scroll;min-height:400px;}
.right_content .content_table ul{padding:0;margin:0;text-align:center;list-style:none;}
.right_content .content_table ul li{background:#f00;color:#fff;padding:2px 5px;}
.right_content .content_table .action_message ul{padding:0;margin:0;text-align:center;list-style:none;}
.right_content .content_table .action_message ul li{background:green;color:#fff;padding:2px 5px;}

.login_bg{background:#bdc5d4;width:450px;min-height:250px;margin:20px auto;border:2px solid #1399E4;-moz-border-radius:10px;-webkit-border-radius:10px;padding:10px;}
.login_bg .login_box{background:#fff;min-height:210px;padding-top:50px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-radius:10px;}
.login_bg .login_box .img{text-align:center;padding:10px 0;}
.login_bg .login_box table{margin:0 auto;padding:10px;}
.login_bg table th{text-align:right;width:120px;}
.login_bg .login_box table span{display:block;color:#f00;font-style:italic;}
.login_bg .login_box table td,.login_bg .login_box table th{padding:5px;vertical-align:top;}
.login_bg ul{padding:0;margin:0;text-align:center;list-style:none;}
.login_bg ul li{background:#f00;color:#fff;padding:2px 5px;}

.form_content{font-size:8pt;background:#ebf7f9;text-align:left;padding:10px;border:1px solid #a6c9e2;;width:680px;margin:0 auto;-moz-border-radius:6px;-webkit-border-radius:6px;margin-bottom:20px;}
.form_content fieldset legend{font-weight:bold;}
.form_content table{width: 60%;margin:0 auto;}
.form_content h3{padding:0;;margin:10px 0;font-family:Verdana;font-size:10pt;}
.form_content table th,.form_content table td{vertical-align:top;padding:2px 5px;}
.form_content table .tdLabel{text-align:right;width:150px;font-weight:normal;color:#2E6E9E;}
.form_content table td span{color:#f00;font-style:italic;font-size:8pt;}
.form_content table td label{margin:2px 0;}
.req_mark{color:#f00!important;font-size:7pt!important;}
.form_content h2{margin:0;padding:0;font-weight:normal;}
.form_content select{padding:0.3em 0.4em;}
.form_title{padding:10px;margin-bottom:10px;}
.form_content ul{padding:0;margin:0;text-align:center;list-style:none;}
.form_content ul li{background:#f00;color:#fff;padding:2px 5px;}

.footer{padding:0 0 20px;background:#0480be;}
.blue_row{background:#0893ff;padding:5px;color:#fff;}
.button {
    background-color: #07A4EB;
    background-image: linear-gradient(to bottom, #07A4EB, #0681B9);
    border: 1px solid #057EB5;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: verdana,sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.fl_left{float: left;}
.fl_right{float:right;}
.clear{clear: both;}


